.graph {
  position: relative;
  border: 1px solid #ccc;
  padding: 2%;
  border-radius: 4px;
}

.graph .graph-container {
  width: 100%;
  padding: 8px;
 
}

.graph .graph-label{
  position: absolute;
  top: -12px;
  left: 8px;
  background-color: white;
  padding: 0 4px;
  font-size: 0.8rem
}