.temperature-component-table {
  border-collapse: collapse;
  font-family: Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}


.temperature-component-table .temperature-component-tr .temperature-component-td {
  border-right: 4px solid white;
}

.temperature-component-table .temperature-component-tr > .temperature-component-th {
 position: relative;
 box-sizing: border-box;
}

.temperature-component-table .temperature-component-tr td{
  border-right: 4px solid white;
}