.temperature-component-table {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

.temperature-component-table
  .temperature-component-tr
  .temperature-component-td {
  border-right: 4px solid white;
}

.temperature-component-table
  .temperature-component-tr
  > .temperature-component-th {
  position: relative;
  box-sizing: border-box;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 300;
  min-width: 120px;
  overflow-wrap: break-word;
  z-index: 999;
}

.temperature-component-td:hover .tooltip {
  display: block;
  font-size: 0.8rem;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

.temperature-component-td:hover .tooltip::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;
}